<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Еженедельная рассылка</title>
</head>
<body>
    <h3>Здравствуйте, {{user_name}}!</h3>
    <p>Рассылка за прошедшую неделю с {{date}}</p>
    {% for p in post %}:
        <ul>
            <li>
                <p><a href="http://127.0.0.1:8000{% url 'post_detail' p.id %}">{{p.header}}</a></p>
                <p>{{p.text}}</p>
            </li>
        </ul>
    {% endfor %}
</body>
</html>