{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст статьи
        </th>
    </thead>
    <tr>
        <td>
            {{ post.header|censor:'*' }}
        </td>
        <td>
            {{ post.time|date:'d M Y H:i' }}
        </td>
        <td>
            {{ post.text|censor:'*' }}
        </td>
    </tr>
</table>

<label><b>Категория: </b></label>
{% for cat in post.postCategory.all %}
    <b>{{ cat.category_name }}</b><br>
        {% if is_not_subscribed %}
            <button><a href="subscribe/"> Подписаться! </a> </button>
        {% endif %}
{% endfor %}

{% endblock content %}