{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данную новость/статью?</h2>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст статьи
        </th>
    </thead>
    <tr>
        <td>
            {{ post.header|censor:'*' }}
        </td>
        <td>
            {{ post.time|date:'d M Y H:i' }}
        </td>
        <td>
            {{ post.text|censor:'*'|truncatechars:50 }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}